
.home {
  font-family: 'Arial', sans-serif;
  background-color: #f8f8f8;
  color: #333;
  animation: fadeIn 1s ease-in-out;
}

.hero-section {
  background-image: url('https://images.pexels.com/photos/6214474/pexels-photo-6214474.jpeg?auto=compress&cs=tinysrgb&w=400');
  background-size: cover;
  background-position: center;
  padding: 100px 20px;
  text-align: center;
  color: white;
  position: relative;
}

.hero-section::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.hero-section h1 {
  position: relative;
  z-index: 2;
  font-size: 48px;
  margin-bottom: 10px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.hero-section p {
  position: relative;
  z-index: 2;
  font-size: 24px;
  margin-bottom: 30px;
}

.home-buttons {
  position: relative;
  z-index: 2;
}

.home-buttons a button {
  background-color: #ff7f50;
  color: white;
  border: none;
  padding: 15px 25px;
  margin: 0 10px;
  font-size: 18px;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.home-buttons a button:hover {
  background-color: #ff4500;
  transform: translateY(-5px);
}

.categories-section {
  padding: 10px 20px;
  text-align: center;
}

.categories-section h2 {
  font-size: 36px;
  margin-bottom: 40px;
  color: #ff4500;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.card-link {
  text-decoration: none;
}

.card {
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  width: 280px;
  box-shadow: 0 4px 3px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card h3 {
  font-size: 24px;
  margin: 20px 0 10px;
  color: #333;
}

.card p {
  font-size: 16px;
  padding: 0 20px 20px;
  color: #777;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@media (max-width: 768px) {
  .hero-section h1 {
    font-size: 33px;
  }

  .hero-section p {
    font-size: 20px;
  }

  .home-buttons a button {
    margin: 10px 5px;
    padding: 12px 20px;
  }

  .card-container {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%;
  }
}
